<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!--Drivers-->
    <!--Enviroment-->
    <package id="python3" />
    <package id="vcredist140" />
    <package id="dotnetfx" />
    <package id="powershell" />
    <!--Standard use-->
    <package id="logitech-options" />
    <package id="powertoys" />
    <package id="spotify" />
    <!--Entertainment-->
    <!--Development-->
    <package id="git.install" />
    <package id="vscode" />
    <package id="putty.install " />
    <package id="winscp" />
    <package id="postman" />
    <package id="microsoft-windows-terminal" />
    <package id="jetbrainstoolbox" />
    <package id="microsoft-build-tools" />
</packages>