<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!--Drivers-->
    <package id="geforce-game-ready-driver" />
    <package id="geforce-experience" />
    <!--Enviroment-->
    <package id="python3" />
    <package id="vcredist140" />
    <package id="dotnetfx" />
    <package id="powershell" />
    <!--Standard use-->
    <package id="googlechrome" />
    <package id="7zip.install" />
    <package id="vlc" />
    <package id="totalcommander" />
    <package id="vmware-horizon-client" />
    <package id="logitech-options" />
    <package id="sharex" />
    <package id="googledrive" />
    <package id="notion" />
    <package id="qbittorrent" />
    <package id="powertoys" />
    <package id="calibre" />
    <package id="office365proplus" />
    <!--Entertainment-->
    <package id="steam" />
    <package id="goggalaxy" />
    <package id="nvidia-geforce-now" />
    <!--Development-->
    <package id="git.install" />
    <package id="vscode" />
    <package id="putty.install " />
    <package id="winscp" />
    <package id="docker-desktop" />
    <package id="pycharm-community" />
    <package id="microsoft-windows-terminal" />
    <package id="sysinternals" />
</packages>