<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!--Drivers-->
    <package id="geforce-game-ready-driver" />
    <package id="geforce-experience" />
    <!--Enviroment-->
    <package id="python3" />
    <package id="vcredist140" />
    <package id="dotnetfx" />
    <package id="powershell" />
    <package id="curl" />
    <!--Standard use-->
    <package id="vivaldi.install" />
    <package id="7zip.install" />
    <package id="vlc" />
    <package id="totalcommander" />
    <package id="vmware-horizon-client" />
    <package id="logitech-options" />
    <package id="sharex" />
    <package id="google-backup-and-sync" />
    <package id="qbittorrent" />
    <package id="powertoys" />
    <package id="calibre" />
    <package id="virtualbox" packageParameters="/ExtensionPack"/>
    <!--Entertainment-->
    <package id="spotify" />
    <package id="steam" />
    <package id="goggalaxy" />
    <package id="nvidia-geforce-now" />
    <package id="itch" />
    <package id="playnite" />
    <package id="ubisoft-connect" />
    <package id="epicgameslauncher" />
    <package id="origin" />
    <!--Development-->
    <package id="git.install" />
    <package id="vscode" />
    <package id="putty.install " />
    <package id="winscp" />
    <package id="postman" />
    <package id="microsoft-windows-terminal" />
    <package id="jetbrainstoolbox" />
    <package id="microsoft-build-tools" />
</packages>